.row--cart {
   width: 100%;
}

.row--cart--area {
    margin: 1.12rem 0.8rem;
    display: flex;
    justify-content: space-between;
    gap: 0.87rem;
}

.row--cart--main {
    background: #fff;
    flex:1;
}

.row--cart--left {
    width: 300px;
}

.row--cart--left--subtotal {
    width: 100%;
    background: #fff;
    margin-bottom: 1rem;
}

.row--cart--title--section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.4rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.row--cart--title--cart {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 400;
}

.row--cart--price--cart {
    align-self: flex-end;
}

.row--cart--main--products--empty {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2.5rem 1.5rem;
}

.products--empty--section--img {
    width: 30%;
}

.products--empty--section--img img {
    width: 100%;
}

.products--empty--section--register {
    width: 60%;
}

.products--empty--section--register p {
    color: #007185;
}

.products--empty--section--register--buttons {
    display: flex;
    margin-top: 1rem;
    gap: 0.8rem;
}


.btn--btn--product--cart--empty {
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    text-align: center;
    color: #0F1111;
    font-size: 0.9rem;
    outline: none;
}

.btn--primary {
    border: 1px solid #FCD200;
    background: #FFD814;
}

.btn--secondary {
    border: 1px solid #D5D9D9;
    background: #fff;
}

.row--cart--subtotal--section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 1rem 1.5rem 1rem;
    gap: 0.2rem;
}

.row--cart--quantity--products, .row--cart--subtotal--products {
    font-size: 1.1rem;
    font-weight: 400;
}

.row--cart--subtotal--products {
    font-weight: 500;
}

@media (max-width: 480px) {
    .row--cart {
        background: #fff;
    }

    .row--cart--area {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .row--cart--main {
        order: 3;
    }

    .row--cart--left {
        width: 100%;
    }

    .row--cart--left--related {
        display: none;
    }

}
