.section--options--shipping, .section--options--shipping--contained {
    max-width: 100%;
    padding: 20px 24px;
    padding-left: 4rem;
    padding-right: 5rem;
}

.section--options--shipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    border-bottom: 1px solid #ddd;
}

.box--button {
    background: #f7f7f7;
    padding: 1rem 1.4rem;
    border: 1px #ddd solid;
    border-radius: 4px;
}

.btn--btn--options--shipping {
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0.4rem 4rem;
    color: #000;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.section--options--shipping--contained {
    display: flex;
    flex-direction: row;
}

.section--options--shipping--details {
    width: 40%;
    padding: 20px 24px;
    padding-left: 2.5rem;
    padding-right: 5rem;
}

.section--options--shipping--details small {
    color: #888;
    font-size: 0.71rem;
}

.options--shipping--details--list {
    margin-top: 0.9rem;
    padding-left: 1.2rem;
    font-size: 0.81rem;
    color:#000!important;
}

.shipping--details--list {
    margin-bottom: 1rem;
}

.title--product--details--list {
    font-size: 0.81rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: #000;
}

.price--quantity--products {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.span--price, .span--quantity, .span--seller {
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.span--price {
    color: #b12704;
}

.span--quantity {
    color: #888;
}

.section--options--shipping--priority {
    width: 40%;
    padding: 20px 24px;
}

.section--options--shipping--priority--text {
    margin-bottom: 1rem;
}

.section--options--shipping--priority--text p {
    font-size: 0.81rem;
    line-height: 1.1rem;
    color: #333;
}

.section--options--shipping--priority--select {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.section--options--contained--radio {
    display: flex;
    flex-direction: row;
}

.description--option--priority {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.time--shipping--succes {
    color: #090;
    font-size: 0.81rem;
    font-weight: 700;
}

.price--shipping--price {
    color: #888;
    font-size: 0.75rem;
}

.section--options--button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1.25rem;
    padding-right: 4.5rem;
    border-top: 1px solid #ddd;
    margin-bottom: 5rem;
}