
.submenu {
    height: 39px;
    background-color: #232f3e;
    display: flex;
    flex-direction: row;
    align-items: center;
    top:0;
}

.submenu--item {
    height: 39px;
    display: flex;
}

.left {
    align-items: center;
    margin: 0 20px;
}

.midle {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.right {
    align-items: center;
    margin: 0 10px;
}

.submenu--span {
    color: #fff;
    font-size: 14px;
}

.submenu--menuIcon {
    color: #fff;
    width: 2rem;
    height: 1.8rem;
}

.submenu--midleItem {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0.5rem;
}

.submenu--rigthItem {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 669px) {
    .submenu {
        display: none;
    }
}